$tertiaryColor: #ea5f57;
$customGrey:  #d9d9d9;
$primary: #007bff;
$backgroundColor: #1e0a45;
$fontColor: #2c3e50;

.react-flow__handle.target {
  background: #0041d0;
  width: 10px;
  height: 10px;
}
.react-flow__handle.source {
  background: $tertiaryColor;
  width: 10px;
  height: 10px;
}

.react-flow__node.selected > div {
  &:not(.diamond):not(.react-flow__handle) {
    outline: 1px solid $tertiaryColor;
  }
  &.diamond:after {
    outline: 1px solid $tertiaryColor;
  }
}
.react-flow__edge {
  .react-flow__edge-path {
    stroke-width: 1.5;
    stroke: #1e0a45;
  }
  &.selected {
    .react-flow__edge-path {
      stroke: $tertiaryColor !important;
    }
  }
}

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100vh;
  
}

.dndflow aside {
  padding: 2rem 0;
  background: #fcfcfc;
  height: 100vh;
  overflow-y: auto;
  text-align: left;
  font-size: 14px;
}

.dndflow aside > * {
  margin-bottom: 10px;
  cursor: grab;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
    &.right-bar {
      border-left: 1px solid $customGrey;
    }
    &.left-bar {
      border-right: 1px solid $customGrey;
    }
  }
}

@media screen and (max-width: 767px) {
  .dndflow aside {
    height: 20%;
    &.right-bar {
      border-top: 1px solid $customGrey;
    }
    &.left-bar {
      border-bottom: 1px solid $customGrey;
    }
  }
}

.dndnode:not(.diamond) {
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 0;
  &.input {
    border-color: #0041d0;
  }
  &.output {
    border-color: #ff0072;
  }
}

.diamond {
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &.dndnode {
    z-index: 3;
    margin-left: 20px;

    &:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      transform: rotateX(45deg) rotateZ(45deg);
      background-color: #fdffdf;
      border: 1px solid $customGrey;
      z-index: -1;
    }
  }
}
.circle {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: #e4e4e4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.9;
}

.edit-module {
  .dnd-element {
    &:hover {
      border: 1px solid pink;
    }
    &.selected {
      border: 1px solid lightblue;
    }
  }
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  padding: 5px;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ant-typograph {
  color: $fontColor !important;
}

.picker {
  width: 200px;
  background: #f0f0f4;
  border-radius: 9px;
 .react-colorful {
  width: auto;
 }
 .react-colorful__saturation-pointer {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.react-colorful__hue-pointer,
.react-colorful__alpha-pointer {
  width: 16px;
  border-radius: 3px;
}
}

.picker__swatches {
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
}

.picker__swatch {
  width: 18px;
  height: 18px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}